<div class="notifications">
  <h3>Notifications</h3>
  <p>
    You have <%= link_to get_flagged_comments_amount, comments_flagged_path %> flagged comments for review
  </p>
</div>

<div class="tokens">
  <h3>Tokens</h3>
  <a href="/tokens/gen">Generate New Judge Token</a><br>
  <a href="/tokens">View All Active Tokens</a><br>
</div>

<div class="users">
  <h3>Users Portal</h3>
  <a href="/dashboard/users">View All Users</a><br>
</div>

<div class="categories">
  <h3>Categories</h3>
  <a href="/dashboard/categories">View All Categories</a>
</div>
