<% if @error %>
  <p>
    <%= @error %>
  </p>
<% end %>

<%= form_for :secret, url: '/signup/judge/l_step' do | f | %>
  <%= f.text_field :secret_key, placeholder: 'Enter Judge Token' %><br>
  <%= f.submit 'Proceed To Sign Up' %>
<% end %>
