<div id="cat_container">

<ul>
<h3>the world's best bounded by the bowery</h3>
  <% @categories.each do | category | %>
    <li>// <%= link_to category.name, category_path( category ) %></li>
  <% end %>
</ul>

<div id="date">
<h1>JUNE 10-12</h1>
<h1>2016</h1>
  </div>
</div>

