<div id="cat_container">

<ul>
<h3>the world's best bounded by the bowery</h3>
  <% @categories.each do | category | %>
    <li>// <%= link_to category.name, category_path( category ) %></li>
  <% end %>
</ul>
</div>

<div class="slogan">
  <h1> - critics call us the greatest film festival ever</h1>
  <p>
    - won the Sam-Pan award for 2016's greatest by design
  </p>
</div>
