<!DOCTYPE html>
<html>
<head>
  <title>FilmFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>

  <% if logged_in? %>
    <a href="/">Home</a>
    <% if current_user.organizer %>
      <a href="/tokens/gen">Generate New Judge Token</a>
      <a href="/tokens">View All Active Tokens</a>
      <a href="/dashboard/users">View All Users</a>
    <% end %>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  <% end %>

<%= yield %>


</body>
</html>
