<!DOCTYPE html>
<html>
<head>
  <title>FilmFest</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>

<body>
<nav>
  <% if logged_in? %>
    <a href="/">Home</a>
    <% if current_user.organizer %>
      <a href="/dashboard">Dashboard</a>
    <% end %>
    <a href="/logout">Logout</a>
  <% else %>
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/signup">Sign up</a>
  <% end %>
  <h3 id="title"> LES FILM FEST 2016</h3>
</nav>
<div id="border">
  </div>


<%= yield %>


</body>
</html>
